#board {
  border-radius: 5px;
  /*   -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.74); */
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#boardContainer {
  position: relative;
  color: #679b9b;
  background-color: #aacfcf;
  height: calc(100vh);
}

#paramHeader {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff0f0;
  /*   background-color: #fde2e2; */
  /* background-color: #fff0f0; */
  -webkit-text-shadow: 3px 5px #aacfcf;
  -moz-text-shadow: 3px 3px #aacfcf;
  text-shadow: 5px 5px #aacfcf;
  position: absolute;
}

#paramHeader div {
  font-size: 18px;
}

#paramHeader h2 {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  color: white;
  border-radius: 30px;
  background-color: #aacfcf;
  /*   color: #fde2e2; */
  -webkit-text-shadow: 3px 5px rgba(255, 182, 182, 1);
  -moz-text-shadow: 3px 3px rgba(255, 182, 182, 1);
  text-shadow: 5px 5px rgba(255, 182, 182, 1);
}

.playIcon {
  font-size: 26px;
  color: #fff0f0;
}

/* .playStopContainer {
  position: sticky;
  top: 40px;
  width: 100px;
  justify-content: space-between;
  margin-left: 100px;
}

.menuBar {
  position: sticky;
  top: 40px;
  width: 200px;
  right: 100px;
} */

.playStopContainer {
  position: absolute;
  width: 150px;
  justify-content: space-between;
  margin-left: 100px;
}

.menuBar {
  position: absolute;
  width: 200px;
  right: 100px;
}

.square {
  height: 16px;
  width: 16px;
  margin: 2.5px;
  /*  border-radius: 3px; */
  border-radius: 50%;
  /*   -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.74); */
}

.square:active {
  transform: translateY(1px);
}

.solid {
  border: solid 1px;
  height: 14px;
  width: 14px;
}

.squareBis {
}

.cellShadow {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.1);
  height: 14px;
  width: 14px;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  box-shadow: 1px 1px px 0px rgba(50, 50, 50, 0.74);
  background-color: white;
  z-index: 99;
}

.circle img {
}

.centerCircle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

#cellDirections {
  width: 90px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: -38px;
  left: -38px;
  z-index: 98;

  align-content: space-between;
}

@keyframes onAppearBis {
  0% {
    left: -100%;
  }
  50% {
    left: 20px;
  }
  100% {
    left: 0px;
  }
}

#optionsBar {
  width: 200px;
  min-height: 250px;
  position: absolute;
  bottom: 50px;
  left: 100px;
  padding: 10px 15px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;

  /*   -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.74); */
  animation-name: onAppearBis;
  animation-duration: 1s;
}

.optionButton {
  /*   -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.74); */
  font-size: 20px;
  padding: 5px;
  width: 90%;
  margin: auto;
  margin-bottom: 5px;
}

.optionButton:active {
  transform: translateY(1px);
}

.optionButton input {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.midiOptions {
  width: 90%;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.74);
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  padding: 5px;
  margin: auto;
}

@keyframes onActiveBis {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 180%;
    height: 180%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}

.activeStep {
  position: absolute;
  background-color: plum;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation-name: onActive;
  animation-duration: 1s;
}

@keyframes x1y0 {
  0% {
    transform: translateX(-18px);
  }
  100% {
    transform: translateX(0px);
  }
}

.x1y0 {
  animation-name: x1y0;
}

@keyframes x1y1 {
  0% {
    transform: translate(-18px, -18px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.x1y1 {
  animation-name: x1y1;
}

@keyframes x1y-1 {
  0% {
    transform: translate(-18px, 18px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.x1y-1 {
  animation-name: x1y-1;
}

@keyframes x0y1 {
  0% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}

.x0y1 {
  animation-name: x0y1;
}

@keyframes x0y-1 {
  0% {
    transform: translateY(18px);
  }
  100% {
    transform: translateY(0px);
  }
}

.x0y-1 {
  animation-name: x0y-1;
}

/*  */
@keyframes x-1y0 {
  0% {
    transform: translateX(18px);
  }
  100% {
    transform: translateX(0px);
  }
}

.x-1y0 {
  animation-name: x-1y0;
}

@keyframes x-1y1 {
  0% {
    transform: translate(18px, -18px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.x-1y1 {
  animation-name: x-1y1;
}

@keyframes x-1y-1 {
  0% {
    transform: translate(18px, 18px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.x-1y-1 {
  animation-name: x-1y-1;
}
