@keyframes onAppearTer {
  0% {
    bottom: -100%;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
}

#siderContainer {
  width: 90%;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  /*   -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.74); */
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  display: flex;
  font-size: 16px;
  animation-name: onAppearTer;
  animation-duration: 1s;
}

.parameter {
  margin: 0 5px 0 5px;
  padding: 5px;
  /*   -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.74);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.74); */
  cursor: pointer;
}

#siderContainer .parameter {
  flex: 1;
}

.parameter input {
  width: 50%;
  margin-right: 5px;
}

.parameter select {
  width: 90%;
}

.numberInput {
  font-size: 20px;
}
