@keyframes onAppear {
  0% {
    right: -100%;
  }
  50% {
    right: 20px;
  }
  100% {
    right: 0px;
  }
}

#SynthBar {
  height: 450px;
  width: 150px;
  padding: 10px 15px;
  border-radius: 5px 0 0 5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 16px;
  animation-name: onAppear;
  animation-duration: 1s;
}

#SynthBar .parameter {
  margin: 5px 0 5px 0;
}

.faderContainer {
  height: 200px;
  width: 8px;
  border: solid 1px #b4b4b4;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 10px 30px #00000029;
  position: relative;
}

.fader {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 2px 8px #00000031;
  border: 2px solid #5d96ff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.fadersBlock {
  width: 100px;
}

#fmParamsBloc {
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#generalParamsBloc {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  justify-content: flex-end;
}

.switchContainer {
  width: 45%;
}
