@font-face {
  font-family: Monserrat;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

#mouseFollower {
  position: absolute;
  background-color: /* #aacfcf; */ red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#homeScreen {
  height: 100vh;
  width: 100%;
  background-color: #aacfcf;
  color: white;
  font-size: 80px;
}

#screen2 {
  height: 100vh;
  width: 100%;
  background-color: #fde2e2;
  font-size: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #aacfcf;
}

#screen2 div {
  line-height: 45px;
}

#screen2 a {
  border: solid 2px white;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  color: #aacfcf;
  background-color: white;
  text-decoration: inherit;
  font-family: "Avenir", "Monserrat";
}

#underConstruct {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 20%;
  width: 100%;
  background-color: #fff0f0;
}

.para1 {
  margin-left: 100px;
}

.para2 {
  display: flex;
  flex-direction: column;
  text-align: end;
  position: relative;
  right: 100px;
}

#particlesFrame {
  position: absolute;
  height: 100%;
  width: 100%;
}

#screen3 {
  height: 100vh;
  width: 100%;
  background-color: #aacfcf;
  font-size: 24px;
  position: relative;
  color: #fff0f0;
  -webkit-text-shadow: 3px 5px rgba(255, 182, 182, 1);
  -moz-text-shadow: 3px 3px rgba(255, 182, 182, 1);
  text-shadow: 5px 5px rgba(255, 182, 182, 1);
}

#screen3 h2 {
  font-size: 40px;
  font-weight: lighter;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  font-weight: 600;
  margin-bottom: 5px;
}

header {
  position: sticky;
  top: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-text-shadow: 3px 5px rgba(255, 182, 182, 1);
  -moz-text-shadow: 3px 3px rgba(255, 182, 182, 1);
  text-shadow: 5px 5px rgba(255, 182, 182, 1);
}

#switchContainer {
  height: 20px;
  width: 35px;
  border-radius: 25px;
  position: relative;
}

#switch {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: absolute;
  left: 2px;
  animation-name: rightToLeft;
}

#switchBis {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: absolute;
  right: 2px;
  animation-name: leftToRight;
}

@keyframes leftToRight {
  0% {
    left: 3.5px;
  }
  100% {
    right: 3.5px;
  }
}

@keyframes rightToLeft {
  0% {
    right: 3.5px;
  }
  100% {
    left: 3.5px;
  }
}
