.transparent {
  color: transparent;
}

/* Pink */

.pink {
  color: #ffb6b6;
}

.backPink {
  background-color: #ffb6b6;
}

.borderPink {
  border-color: #ffb6b6;
}

/* LightPink */

.lightPink {
  color: #fde2e2;
}

.backLightPink {
  background-color: #fde2e2;
}

.borderLightPink {
  border-color: #fde2e2;
}

/* LightGreen */

.lightGreen {
  color: #aacfcf;
}

.backLightGreen {
  background-color: #aacfcf;
}

.borderLightGreen {
  border-color: #aacfcf;
}

/* Green */

.green {
  color: #679b9b;
}

.backGreen {
  background-color: #679b9b;
}

.borderGreen {
  border-color: #679b9b;
}

.grey {
  color: lightgray;
}

/* Life points status */

/* .life1 {
  background-color: lightblue;
}

.life2 {
  background-color: #8cba51;
}

.life3 {
  background-color: #f9b18b;
}

.life4 {
  background-color: #ff5d6c;
} */

.life1 {
  background-color: #ffb6b6;
}

.life2 {
  background-color: #fde2e2;
}

.life3 {
  background-color: #fde2e2;
}

.life4 {
  background-color: #679b9b;
}
.backVirus {
  /*   background-image: url("./assets/icons/virus.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center; */
}

/* Background colors */
.backGrey {
  background-color: #b4b4b4;
}

/* .backBlue {
  background-color: #1a54c1;
} */

.backBlue {
  background-color: #5d96ff;
}

.backSalmon {
  background-color: lightsalmon;
}

.backWhite {
  background-color: white;
}

/* Font colors */
.white {
  color: white;
}

.blue {
  color: #1a54c1;
}

.darkGrey {
  color: #4d4f5c;
}

.lightGrey {
  color: #b4b4b4;
}

/* Border Colors */

.icon {
  cursor: pointer;
  font-size: 20px;
}

.bigIcon {
  cursor: pointer;
  font-size: 24px;
}

#selectedItem {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #679b9b;
  z-index: -1;
}

.i {
  background-size: 20px 30px;
}
